@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*:focus {
    outline: none;
}

body {
    background-color: #222435;
    font: normal 16px Roboto, sans-serif;
}

h1 {
    font-weight: 900;
    color: #7d83b8;
    text-align: center;
}

form {
    display: flex;
    position: relative;
    width: 600px;
    height: 60px;
    margin: 30px auto;
    margin-bottom: 60px;
}

input {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #2d3046;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 16px;
    color: #ffffff;
}

img.icone-central {
    width: 100%;
}

button.add {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #363b65;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 25px;
    height: 61px;
}

button.add:hover {
    color: #ffffff;
    background-color: #363f88;
}

.lista-tarefas {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 600px;
    margin: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #363b65;
    color: #000000;
    margin-bottom: 10px;
    cursor: pointer;
}

.item:hover {
    background-color: #151627;
}

.item span {
    width: 100%;
    color: #ffffff;
    margin-right: 10px;
    padding: 10px 15px;
}

.item-completo {
    display: flex;
    justify-content: space-between;
    background-color: #1e1f2e;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.item-completo span {
    width: 100%;
    color: #4d506e;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: line-through;
    opacity: .4;
}

button.del {
    background-color: inherit;
    color: #4d506e;
    border: none;
    padding: 15px;
    cursor: pointer;
}

button.del:hover {
    background-color: #ff004c;
    color: #ffffff;
    border: none;
    padding: 15px;
    cursor: pointer;
}

button.deleteAll {
    border: 1px solid #ff004c;
    background-color: inherit;
    padding: 15px;
    color: #ff004c;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button.deleteAll:hover {
    background-color: #ff004c;
    color: #ffffff;
}

    @media screen and (max-width: 900px) {
        form {
            width: 100%;
        }

        .lista-tarefas {
            width: 100%;
        }
}